// === 區塊名稱 ===
// Primary - 確認/送出/我要跟團/GO
$color-highlight: #fada7a;
$yellow: #f9ff4d;
$orange: #fdc520;

// Info - 評價/編輯
$color-primary: #81bfda;
$color-secondary: #b1f0f7;
$blue: #4f8da8;

// Secondary - 取消/刪除
$color-neutral: #f5f0cd;
$light-yellow: #fff39c;
$brown: #ada572;

//其他
$gray-disabled: #d0d0d0;
$white: #fff;
$black: #000;
$gray-light: rgba($gray-disabled, 0.2);

// themes
$buttonThemes: (
  primary: (
    // 字體顏色
    color: $black,
    hover-color: $black,
    active-color: $white,
    // 背景顏色
    background-color: $color-highlight,
    hover-background-color: $yellow,
    active-background-color: $orange,
    // disabled設定
    disabled-background-color: $gray-disabled,
    disabled-font-color: $white,
    // 邊框色
    border-color: $black,
    // icon顏色
    icon-color: $black,
    icon-hover-color: $black,
    icon-active-color: $white,
    icon-disabled-color: $white,
    icon-outline-color: $color-highlight,
    icon-outline-hover-color: $black,
  ),

  info: (
    // 字體顏色
    color: $black,
    hover-color: $black,
    active-color: $white,
    // 背景顏色
    background-color: $color-primary,
    hover-background-color: $color-secondary,
    active-background-color: $blue,
    // disabled設定
    disabled-background-color: $gray-disabled,
    disabled-font-color: $white,
    // 邊框色
    border-color: $black,
    // icon顏色
    icon-color: $black,
    icon-hover-color: $black,
    icon-active-color: $white,
    icon-disabled-color: $white,
    icon-outline-color: $color-primary,
    icon-outline-hover-color: $black,
  ),

  secondary: (
    // 字體顏色
    color: $black,
    hover-color: $black,
    active-color: $white,
    // 背景顏色
    background-color: $color-neutral,
    hover-background-color: $light-yellow,
    active-background-color: $brown,
    // disabled設定
    disabled-background-color: $gray-disabled,
    disabled-font-color: $white,
    // 邊框色
    border-color: $black,
    // icon顏色
    icon-color: $black,
    icon-hover-color: $black,
    icon-active-color: $white,
    icon-disabled-color: $white,
    icon-outline-color: $color-neutral,
    icon-outline-hover-color: $black,
  ),
);

// sizes
$buttonSizes: (
  sm: (
    font-size: 16px,
    min-width: 86px,
    min-height: 38px,
    padding-horizontal: 16px,
    mobile-font-size: 14px,
    mobile-min-width: 86px,
    mobile-min-height: 38px,
    mobile-padding-horizontal: 16px,
  ),
  md: (
    font-size: 24px,
    min-width: 158px,
    min-height: 38px,
    padding-horizontal: 20px,
    mobile-font-size: 16px,
    mobile-min-width: 158px,
    mobile-min-height: 38px,
    mobile-padding-horizontal: 16px,
  ),
  lg: (
    font-size: 24px,
    min-width: 462px,
    min-height: 35px,
    padding-horizontal: 30px,
    mobile-font-size: 18px,
    mobile-min-width: 462px,
    mobile-min-height: 35px,
    mobile-padding-horizontal: 24px,
  ),
);

.button-wrapper {
  height: fit-content;

  .button {
    //primary, info, secondary 樣式 == <MyButton theme="primary" size="normal">送出</MyButton>的theme=""
    @each $theme, $styles in $buttonThemes {
      &[data-theme='#{$theme}'] {
        //抓對應主題的hover樣式
        &:hover {
          color: map-get($styles, hover-color);
          background-color: map-get($styles, hover-background-color);
          border-color: map-get($styles, border-color);
        }

        &:active {
          color: map-get($styles, active-color);
          background-color: map-get($styles, active-background-color);
          .button-icon {
            color: map-get($styles, icon-active-color);
          }
        }

        &:disabled {
          background-color: map-get($styles, disabled-background-color);
          color: map-get($styles, disabled-font-color);
          cursor: default;

          .button-icon {
            color: map-get($styles, icon-disabled-color);
          }
        }
      }
    }
  }
}

.button {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  cursor: pointer;
  gap: 5px;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  @each $theme, $styles in $buttonThemes {
    &[data-theme='#{$theme}'] {
      color: map-get($styles, color);
      background-color: map-get($styles, background-color);
      border-color: map-get($styles, border-color);

      .button-icon {
        color: map-get($styles, icon-color);
      }

      &:disabled {
        background-color: map-get($styles, disabled-background-color);
        color: map-get($styles, disabled-font-color);
        cursor: not-allowed;
        .button-icon {
          color: map-get($styles, icon-disabled-color);
        }
      }
    }
  }

  @each $size, $sizeStyles in $buttonSizes {
    &[data-size='#{$size}'] {
      font-size: map-get($sizeStyles, font-size);
      min-width: map-get($sizeStyles, min-width);
      min-height: map-get($sizeStyles, min-height);
      padding: 0 map-get($sizeStyles, padding-horizontal);
    }
  }
}
